version: "3.9"

services:
  db:
    image: postgres:16
    container_name: orbitwatch-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - orbitwatch_data:/var/lib/postgresql/data

volumes:
  orbitwatch_data:
